/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;

}

H1, H2, H3, H4, a {
  color: blueviolet;
  font-family: 'Roboto', sans-serif;

}

a {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

a:hover {
  opacity: 0.2%;
}

nav {
  position: fixed;
  background-color: aliceblue;
  width: 300px;
  top: 0;
  left 0;
  height: 100%;
  border-right: 1px solid lighgray;
  padding: 50px 30px 50px 40px;

}

nav img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  margin: 40px 40px 0 0;
  padding: 0;
}

nav ul a {
display: block;
padding: 10px 0 10px 30px;
border-bottom: 1px solid gray;
text-decoration: none;

}

nav li:first-child a {
  border-top: 1px solid gray;
}


main {
  padding-left: 300px;

}

.container {
  padding: 100px 50px 100px 30px;
}

.hero_image {
  height: 400px;
  background-image: url(../images/one.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 50px 0 20px;
}

.three_col {
  display: flex; 
}

.three_col .col{
flex:1;
padding: 20px;
border-right: 1px gray;
}

.three_col .three {
  border-right: none;
}

.congtainer footer {
  margin-top: 30px;
}

footer .contact {
background-color: gray;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
border-top: 1px solid gray;
border-bottom:1px solid gray;
margin-bottom: 30px;
}

footer .contact p {

}

footer .contact ul {
margin: 0;
padding: 0;
list-style: none;
}

footer .contact ul li {
  display: inline-block;
  }

footer .contact ul li a img {
  width: 20px;
    }